$generalFontSize_px: 16px;
$generalFontSize_number: 16;


$black-extra: #000000;
$black: #1F1F1F;
$grey: #59606D;
$grey-light: #959DAD;
$grey-extra-light: #F8F8F8;
$white: #ffffff;
$yellow: #F2C94C;
$error: #ff0000;
$valid: #008000;



